
 body{
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background: #000;
 }

 #clock{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 5rem;
     color: #32cd32;
 }